@charset "utf-8";

/* navigation */
nav {
    background-color: rgba(235, 219, 188, 1);
    font-size: 30px;
}

nav ul li {
    margin: 0 50px;
}

body {
    background-color: rgba(250, 238, 214, 1)
}

/* container */
.wrapper-1 {
    text-align: center;
}

.wrapper-2 {
    width: 100%;
}

.wrapper-2 .container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 80px 0px;
}

/* content */
@media (min-width: 992px) {
    .wrapper-2 .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrapper-2 .content-item {
    width: 100%;
}

@media (min-width: 992px) {
    .wrapper-2 .content-item {
        width: 50%;
    }
}

.wrapper-2 .image {
    display: block;
    max-width: 100%;
    margin: 0px auto;
}

.wrapper-2 .text {
    margin: 40px;
    padding: 0px;
    background: rgba(245, 245, 245, 1);
}

.wrapper-2 .text .heading {
    margin: 0px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background: rgba(235, 219, 188, 1);
}

.wrapper-2 .text p {
    margin: 0px;
    padding: 20px;
}

/* footer */
.footer{
    background-color: rgba(235, 219, 188, 1);
    bottom: 0;
    width: 100%;
}
.footer-text{
    align-items: center;
    font-size: 30px;
}
.footer-text p {
    margin: 0;
    font-weight: 700;
}
.footer a {
    color: #000;
    font-weight: 500;
    font-size: 100%;
}