@charset "utf-8";

/* navigation */
nav {
    background-color: rgba(235, 219, 188, 1);
    font-size: 30px;
}

nav ul li {
    margin: 0 50px;
}

body {
    background-color: rgba(250, 238, 214, 1)
}

/* container */
.wrapper-1 {
    text-align: center;
}

.wrapper-2 {
    width: 100%;
}

.wrapper-2 .container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 80px 0px;
}

/* content */
.wrapper-1 .content img {
    margin-top: 70px;
    width: 600px;
}

@media screen and (max-width: 450px) {
    .wrapper-1 .content img {
      margin-bottom: 30px;
      width: 250px;
    }
}

.wrapper-2 .container .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .wrapper-2 .container .content {
        display: block;
    }
}

.wrapper-2 .content-item {
    width: 100%;
}

@media screen and (max-width: 450px) {
    .wrapper-2 .content-item {
        margin: auto;
        width: 80%;
    }
}

.wrapper-2 .image {
    display: block;
    max-width: 100%;
    margin: 0px auto;
}

.wrapper-2 .text {
    margin: 40px;
    padding: 0px;
    background: rgba(245, 245, 245, 1);
}

@media screen and (max-width: 450px) {
    .wrapper-2 .text {
        margin: auto;
        margin-top: 40px;
        width: 100%;
    }
}

.wrapper-2 .text .heading {
    margin: 0px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background: rgba(235, 219, 188, 1);
}

.wrapper-2 .text p {
    margin: 0px;
    padding: 20px;
}

/* footer */
.footer{
    background-color: rgba(235, 219, 188, 1);
    bottom: 0;
    width: 100%;
}
.footer-text{
    align-items: center;
    font-size: 30px;
}
.footer-text p {
    margin: 0;
    font-weight: 700;
}
.footer a {
    color: #000;
    font-weight: 500;
    font-size: 100%;
}
@media screen and (max-width: 450px) {
   
    .footer img {
      display: none;
    }
}

/* btn-box */
.btn-box {
    margin: 5% auto 10%;
}
.button a {
    background: rgba(235, 219, 188, 1);
    border-color: rgba(235, 219, 188, 1);
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 700;
    text-decoration: none;
}
.button a:hover {
    background: #313131;
    color: #FFF;
}
.button a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button a:hover:after {
    border-color: #FFF;
}